*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'helvetica';
    font-weight: normal;
    box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(0, 0, 0);   
    font-size: 9vw;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;

}


.info{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);   
    font-size: 100px;
    padding: 20px;  
    z-index: 100;
}

.top{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 20px;

}

.bottom{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 20px;
    
}

section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

p,a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}


a:hover{
    text-decoration: underline;
}